{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to ProScout</h1>
    <p class="lead">Get recommendations for players based on various performance metrics.</p>
    <p class="lead">Select a player from the dropdown menu below to get started.</p>
    <p class="mark">Note: Results are based on a single dataset (You can view Dataset from navigation bar)</p>

    <hr class="my-4">
    <form action="/submit_player" method="post">
        <div class="form-group">
            <label for="player">Player</label>
            <select class="form-control" id="player" name="player">
                {% for player in players %}
                    <option value="{{ player }}">{{ player }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>

<script>
    const selectElement = document.getElementById("player");
    const options = selectElement.getElementsByTagName("option");
    selectElement.addEventListener("input", function () {
        const inputValue = this.value.toLowerCase();
        for (let i = 0; i < options.length; i++) {
            const option = options[i];
            const optionValue = option.textContent.toLowerCase();
            if (optionValue.includes(inputValue)) {
                option.style.display = "block";
            } else {
                option.style.display = "none";
            }
        }
    });
</script> 

{% endblock %}

