{% extends "base.html" %}

{% block title %}
Player Recommendation
{% endblock %}

{% block content %}
<h2 class="mt-4 mb-4">Player Recommendation</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="radar-tab" data-toggle="tab" href="#radar" role="tab" aria-controls="radar" aria-selected="true">Radar Chart View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="table-tab" data-toggle="tab" href="#table" role="tab" aria-controls="table" aria-selected="false">Tabular View</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="myTabContent">
  <!-- Radar Chart View Tab -->
  <div class="tab-pane fade show active" id="radar" role="tabpanel" aria-labelledby="radar-tab">
    <div class="row">
      {% for player_name, img_path_for_template, description in radar_charts %}
      <div class="col-md-12 mb-4">
        <div class="card player-card">
          <h5 class="card-header">Player: {{ player_name }}</h5>
          <div class="row no-gutters">
            <div class="col-md-6">
              <img src="../static/{{ img_path_for_template }}" class="card-img" alt="Radar Chart for {{ player_name }}">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <p><strong>Description:</strong></p>
                <div class="card-text">
                    {{ description|safe }} {# Use "|safe" to render HTML content #}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="margin-top: 50px;"></div>
  </div>

  <!-- Tabular View Tab -->
  <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for col in players.columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for player in players.iterrows() %}
                    <tr>
                        {% for col in players.columns %}
                            <td>{{ player[1][col] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock %}
