{% extends "base.html" %}

{% block title %}
Player Recommendation
{% endblock %}

{% block content %}
<h2 class="mt-4 mb-4">Player Recommendation</h2>
<div class="row">
    {% for player_name, img_path_for_template in radar_charts %}
    <div class="col-md-6">
        <div class="card player-card">
            <h5 class="card-header">Player: {{ player_name }}</h5>
            <div class="card-body">
                <img src="../static/{{ img_path_for_template }}" class="card-img-top"
                    alt="Radar Chart for {{ player_name }}">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
